[submodule "external/ROLL"]
	path = external/ROLL
	url = https://github.com/rlops/ROLL.git
	branch = rlix
[submodule "external/NeMo"]
	path = external/NeMo
	url = https://github.com/zhenyulincs/RL.git
[submodule "external/miles"]
	path = external/miles
	url = https://github.com/zhenyulincs/miles.git
