[submodule "external/ROLL"]
	path = external/ROLL
	url = git@github.com:taoluo/_rlos_ROLL.git
[submodule "external/SkyRL"]
	path = external/SkyRL
	url = git@github.com:NovaSky-AI/SkyRL.git
[submodule "external/miles"]
	path = external/miles
	url = git@github.com:radixark/miles.git
[submodule "external/nemo-gym"]
	path = external/nemo-gym
	url = git@github.com:NVIDIA-NeMo/Gym.git
[submodule "external/nemo-rl"]
	path = external/nemo-rl
	url = git@github.com:NVIDIA-NeMo/RL.git
[submodule "external/sglang"]
	path = external/sglang
	url = git@github.com:sgl-project/sglang.git
[submodule "external/vllm"]
	path = external/vllm
	url = git@github.com:vllm-project/vllm.git